/* v.1.1.0 */

* { box-sizing: border-box; } 

.tplGallery {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
grid-gap: 5px;
width: 100%;

margin: 0 auto;

justify-content: center;
align-items: safe center;
align-self: safe center;
text-align: center;
}

.tplGalleryItem {
display: flex;
min-width: 100%;
min-height: 100%;
justify-content: center;
align-items: safe center;
align-self: safe center;
text-align: center;
border: 1px solid var(--d3);
background: var(--l2);
margin: 0 auto;
padding: 5px;
border-radius: 5px;
}

.tplGalleryItem img{
max-height: 280px;
}



@media(max-width: 220px) { .tplGallery { display: block; width: 100%; }}

 .tplGalleryItem img, .tplGalleryItem svg {
border-radius: 5px;
}

svg, img { max-width: 100%; height: auto;  display: inline-block; }

h1, p {
display: block;
text-align: center;
}

.photoGalleryPagination {
margin-top: 30px;
}

.center {
display: flex;
flex-direction: column;
justify-content: center;
align-items: safe center;
align-self: safe center;
box-sizing: border-box;
/*margin: 0 var(--bodyP);*/margin: 0 auto;
}

/* color theme */

/* light */
:root{
--bg: #F0F0F0;
--l: #F5F5F5; 
--l2: #F7F7F7; 
--l3: #FCFCFC; 
--l4: #FFFFFF; 
--d: #E6E6E6; 
--d2: #E0E0E0; 
--d3: #CCCCCC; 
--d4: #ABABAB; 
--c: #595959;
--c2: #333333; 
--c3: #1A1A1A; 
--c4: #0D0D0D; 
--brand: #2D4759;
--brand2: #1A2933;
--red: #943328;
--red2: #B33E30;
--orange: #D47900;
--orange2: #EB8600;
--yellow: #A88100;
--yellow2: #C29500;
--green: #29800C;
--green2: #31990F;
--blue: #1C88BA;
--blue2: #23A8E6;
--indigo: #5B67E2;
--indigo2: #6370F5;
--violet: #9E377C;
--violet2: #B03D8A;
}

html{ scrollbar-color: var(--d4) var(--l2); }
::-webkit-scrollbar { background-color: var(--l2); }
::-webkit-scrollbar-thumb { background-color: var(--d3); }

@media (prefers-color-scheme: light) {
body{
background-image: url("/img/tpl/bg-light.png");
background-repeat: repeat;
background-attachment: fixed;
}
}

/* auto dark */
@media (prefers-color-scheme: dark) {

body{
background-image: url("/img/tpl/bg-dark.png");
background-repeat: repeat;
background-attachment: fixed;
}

:root{
--bg: #2D2D2E;
--l: #2F2F30;
--l2: #353536;
--l3: #3D3E40;
--l4: #505359;
--d: #2A2A2B;
--d2: #252526;
--d3: #1B1C1C;
--d4: #121212;
--c: #B3B3B3; 
--c2: #D6D6D6; 
--c3: #E6E6E6; 
--c4: #F7F7F7; 
--brand: #B2C5D1;
--brand2: #C3D9E6;
--red: #FF7066;
--red2: #FF938C;
--orange: #E6BA67;
--orange2: #FFD280;
--yellow: #D9CA82;
--yellow2: #E6D57F;
--green: #8ACC70;
--green2: #ABE695;
--blue: #8AC9E6;
--blue2: #99DDFF;
--indigo: #A9B0F2;
--indigo2: #CCD0FF;
--violet: #C999CC;
--violet2: #D8B8D9;
}

html::before, .dd, .logo, .logo2 { /*filter: invert(70%); */ filter: brightness(70%); }

input[type="submit"] { background: var(--l); color: var(--c2); }
input[type="submit"]:hover { background: var(--d); color: var(--c3); }

html{ scrollbar-color: var(--l4) var(--d2); }
::-webkit-scrollbar { background-color: var(--d2); }
::-webkit-scrollbar-thumb { background-color: var(--l3); }

}



/* colors */
/* for codepen, no main.css */
body{ background-color: var(--bg); color :var(--c3); }

a { color: var(--c2); }
a:hover{ color: var(--c4); } 


svg, img { max-width: 100%; height: auto;  display: inline-block; }

h1, p {
display: block;
text-align: center;
}

footer {
  display: block;
  text-align: center;
padding: 25px 0;
}



