:root{
--bg: #E9ECF0;
--l: #EBEDF0; 
--l2: #F0F1F2; 
--l3: #F5F6F7; 
--l4: #F7FBFC; 
--d: #DADDE0; 
--d2: #D5D8DB; 
--d3: #B3BAC7; 
--d4: #959EA6; 
--c: #595959; 
--c2: #333333; 
--c3: #1A1A1A; 
--c4: #0D0D0D; 
/*--b: #857750;
--b2: #756946;*/
--b3: #5E4118;
--b4: #805A26;
--red: #943328;
--red2: #B33E30;
--orange: #D47900;
--orange2: #EB8600;
--yellow: #A88100;
--yellow2: #C29500;
--green: #29800C;
--green2: #31990F;
--blue: #1C88BA;
--blue2: #23A8E6;
--indigo: #5B67E2;
--indigo2: #6370F5;
--violet: #9E377C;
--violet2: #B03D8A;
}

html{ scrollbar-color: var(--d4) var(--l2); }
::-webkit-scrollbar { background-color: var(--l2); }
::-webkit-scrollbar-thumb { background-color: var(--d3); }