/* Noscript CSS v.2.0.0 */




/* Nav  v.1.2.0 */
/*//<!-- page, style.css, main.js, noscript.css -->*/


/* fix test delme*/
/*
@media(min-width: 800px){
.dropdownMenuContentColumn, .dropdownMenuContent {
display: none !important;
}
}*/

/* only dropdown */
.navTop nav { display: block; }
.menuTop { display: none; }
#dropdownMenuButton { display: inline-block; }

/* end mobile dropdown menu (copy from main.js */

/* CSS dropdown menu if JS off, hover https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_navbar2#*/
#dropdownMenuCSS:hover #dropdownMenu {
display: block;
position: absolute;
top: -5px;
}
#dropdownMenuCSS { display: inline-block; }
/* end CSS  dropdown menu */

/* test delme .menu a { justify-content: center; text-align: center; }*/
.dropdownMenuContent { text-align: left; }
/* end Nav */



@media (prefers-color-scheme: dark) {
.reduceLight { filter: brightness(70%); }
}


.noscriptHide { display: none !important; }






