:root{
--bg: #2E4473;
--l: #354C7A;
--l2: #415887;
--l3: #4A6294;
--l4: #5B6F99;
--d: #2E4370;
--d2: #2D3D63;
--d3: #212F4A;
--d4: #001133;
--c: #E0E0E0; 
--c2: #EDEDED; 
--c3: #F5F5F5; 
--c4: #FFFFFF; 
/*--b: #948B70;
--b2: #9E9478;*/
--b3: #F2E3BD;
--b4: #FFFCF2;
--red: #FF8680;
--red2: #FF9E99;
--orange: #E6BE73;
--orange2: #FFD68C;
--yellow: #E6DAA1;
--yellow2: #F2E8B6;
--green: #9BD982;
--green2: #A4E689;
--blue: #8AC9E6;
--blue2: #99DFFF;
--indigo: #A9B0F2;
--indigo2: #CCD0FF;
--violet: #E2ACE6;
--violet2: #F1CDF2;
}

html::before, .dd, .logo, .logo2 { filter: invert(70%); }

input[type="submit"] { background: var(--l); color: var(--c2); }
input[type="submit"]:hover { background: var(--d); color: var(--c3); }

html{ scrollbar-color: var(--l4) var(--d2); }
::-webkit-scrollbar { background-color: var(--d2); }
::-webkit-scrollbar-thumb { background-color: var(--l3); }
