
:root{
--bg: #BCEBBC;
--l: #C7F0C7;
--l2: #D0F5D0;
--l3: #DFFADF;
--l4: #F0FFF0;
--d: #B8E0B8; 
--d2: #BAE0BA; 
--d3: #9CB89C; 
--d4: #2D332D;

--c: #696969;
--c2: #404040; 
--c3: #303030; 
--c4: #0D0D0D; 
--brand: #3A5C73;
--brand2: #273E4D;
--red: #A1382B;
--red2: #CC4737;
--orange: #E68200;
--orange2: #FF9100;
--yellow: #A68D00;
--yellow2: #BFA300;
--green: #3B8026;
--green2: #47992C;
--blue: #177099;
--blue2: #1B83B3;
--indigo: #5B67E2;
--indigo2: #6370F5;
--violet: #9E377C;
--violet2: #B03D8A;
}

html{ scrollbar-color: var(--d4) var(--l2); }
::-webkit-scrollbar { background-color: var(--l2); }
::-webkit-scrollbar-thumb { background-color: var(--d3); }
