/* v.2.0.2 */
:root{
--bg: #EBE5BC;
--l: #F0EAC7; 
--l2: #F5F0D0; 
--l3: #FAF7DF; 
--l4: #FFFDF0; 
--d: #E6E0B8; 
--d2: #E0DCBA; 
--d3: #B8B59C; 
--d4: #737267; 
--c: #696969; 
--c2: #404040; 
--c3: #303030; 
--c4: #0D0D0D; 
/*--b: #857750;
--b2: #756946;*/
--b3: #5E4118;
--b4: #392100;
--red: #A1382B;
--red2: #CC4737;
--orange: #B36600;
--orange2: #E68300;
--yellow: #804400;
--yellow2: #B57D2A;
--green: #3B8026;
--green2: #47992C;
--blue: #177099;
--blue2: #1B83B3;
--indigo: #5B67E2;
--indigo2: #6370F5;
--violet: #9E377C;
--violet2: #B03D8A;
}

html{ scrollbar-color: var(--d4) var(--l2); }
::-webkit-scrollbar { background-color: var(--l2); }
::-webkit-scrollbar-thumb { background-color: var(--d3); }