/* v.1.18.1 */



/* Navigation CSS v.2.2.0 */

.topNav form, .topNav input[type=search] { display: inline-block; }
.topNav form { width: 100%; max-width: 130px; vertical-align: middle; }
.topNav input[type=search] { font-size: small; min-height: 10px; height: 30px; }
.topNav form ::placeholder { font-size: x-small; }
.topNav form { margin-left: var(--padding); }

.topNav button { margin: 0; }
.topNav { text-align: center; }
/*
.topNav nav{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(0, auto));
margin: 0 auto;
justify-content: center;
align-items: center;
text-align: center;
}test delme*/

.topNav nav{
display: inline-block;
width: auto;
margin: 0 auto;
justify-content: center;
align-items: center;
text-align: center;
}

/* fix for mobile */
@media(max-width: 500px){
.topNav nav {
justify-content: left;
align-items: center;
text-align: left;
}
.topNav { text-align: left; }
.topNav button { margin-right: var(--padding); }
.topNav form { margin-left: 0; }
}

.dropdownMenu {
width: calc(100% - (2 * var(--bodyPadding)));
max-width: calc(900px - (2 * var(--bodyPadding)));
margin: 0 auto;
position: absolute;
left: 0;
right: 0;
z-index: 2;
display: none;
}

.topNav .dropdownMenuButton { display: none; }

.dropdownMenuButton svg {
max-width: 14px;
vertical-align: middle;
fill: var(--brand) !important;
stroke: var(--c3) !important;
}


.dropdownMenuColumn {
text-align: left;
columns: 120px auto;
z-index: 2;
margin-top: var(--padding);
}
.dropdownMenuContent a { display: inline-block; }

/* fix */
.dropdownMenuContentWrapper, .dropdownMenuContent { display: inline-block;  }
.showDropdownMenu { display: block; }
/* end Navigation CSS */











.menu {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
grid-gap: 5px;
margin: 0 auto;
justify-content: center;
}

@media(max-width: 150px) { .menu { display: block; width: 100%; }}

.menu a {
display: flex;
min-width: 100%;
justify-content: start;
align-content: center;
margin: 0 auto;
text-wrap: balance;
text-align: left;
/*min-height: 50px;*/
}

.insertIcon svg *, .insertIconTitle svg * {
fill: var(--c) !important;
stroke: var(--c) !important;
}

.listBlock {
padding: 0 var(--padding3);
margin-bottom: var(--padding2);
}
.listItem {
padding: var(--padding) 0;
border-bottom: 2px dotted var(--d3);
}

/* bg image in main.js */

/* fix */
@media(max-width: 500px){
#secondNav nav {
text-align: left;
}
}

.itemLinkAni {
border-bottom: 2px dotted transparent;
}

.itemLinkAni:hover {
transition: 1.8s;
border-bottom: 2px dotted var(--brand);
}

.itemLinkAniActive {
border-bottom: 2px dotted var(--brand);
}


