/* v.1.0.0 */
/* Some code is probably from the Codepen CPC template. */

/*body { margin: 0; background: #000; }*/
.lBg {
display: block;
width: 100%;
max-width: 500px;
aspect-ratio: 1 / 1;
margin: 0 auto;



background:

radial-gradient(
#E2E2E2 49%,
#000 53%
	),

radial-gradient(
#E2E2E2 49%,
#000 53%
	),

radial-gradient(
		#fffbf2 0%,
		rgba(242, 235, 157, 1) 23%,
		rgba(240, 93, 33, 1) 48%,
#000 48.3%
	),

radial-gradient(
#000 100%,
#000 100%
	)
;

background-size: 7% 7%, 4% 4%, 70% 70%, 100% 100%;
background-position:
10%  10%, 80% 80%,  50% 50%, 0 0;


background-repeat: no-repeat;

}
