/* Navigation CSS v.1.1.0 */
//*Creating navigation in progress, sorry*/

.topNav form, .topNav input[type=search] { display: inline-block; }
.topNav form { width: 100%; max-width: 130px; vertical-align: middle; }
.topNav input[type=search] { font-size: small; min-height: 10px; height: 30px; }
.topNav form ::placeholder { font-size: x-small; }
.topNav form { margin-left: var(--padding); }

.topNav button { margin: 0; }

.topNav nav{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(0, auto));
margin: 0 auto;
justify-content: center;
align-items: center;
text-align: center;
}

/* fix for mobile */
@media(max-width: 500px){
.topNav nav {
justify-content: left !important;
align-items: center;
text-align: left;
display: inline-block;
}
.topNav button { margin-right: var(--padding); }
.topNav form { margin-left: 0; }
}

.dropdownMenu {
width: calc(100% - (2 * var(--bodyPadding)));
margin: 0 auto;
position: absolute;
left: 0;
right: 0;
z-index: 2;
display: none;
}

.topNav .dropdownMenuButton { display: none; }

.dropdownMenuColumn {
text-align: left;
columns: 120px auto;
z-index: 2;
margin-top: var(--padding);
}
.dropdownMenuContent a { display: inline-block; }

/* fix */
.dropdownMenuContentWrapper { display: inline-block;  }

.showDropdownMenu { display: block; }

/* end Navigation CSS */

