/* v.1.0.3 */
/* Some code is probably from the Codepen CPC template. */

.dashboard {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 15px;
}
* {
box-sizing: border-box;
}

body {
	background: silver;
	font-family: sans-serif;
	font-size: .9em;
}

.dashboard {
	display: block;
	position: relative;
	border-radius: 15px;
	border: 1px solid silver;
	box-shadow: 0 1px 3em #fff;
	margin: 15px auto;
}

.glass {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	opacity: 0.7;
	z-index: -1;
	border-radius: 15px;
		border: 1px solid #fff;
}

h2 {
font-style: oblique;
font-size: 1.25em;
	border-bottom: 1px solid #000;
padding-bottom: 3px;
display: inline-block;
}
table {
	text-align: left;
	width: 100%;
}

td {
	border-bottom: 1px solid silver;
	padding-bottom: 5px;
}








/* v.1.0.0 */
/* codepen Round #cpc */

/* https://www.w3schools.com/howto/howto_css_circles.asp */
.dot {
	border-radius: 50%;
	position: absolute;
	aspect-ratio: 1 / 1; /* https://stackoverflow.com/questions/21799852/css-width-same-as-height */
z-index: -2;
opacity: 0.7;
}

body { position: relative; }
.dot11,
.dot12,
.dot13 {
	background-color: #dad8c4;
background: radial-gradient(#fff, silver);
}
@media (orientation: landscape) {
	.dot11 {
		width: 300px;
		left: calc(50% + 250px - 150px);
		top: -150px;
	}
	.dot12 {
		width: 300px;
		left: calc(50% - 350px - 150px);
		top: 50vh;
	}
	.dot13 {
		position: absolute;
		width: 300px;
		left: calc(50% + 150px - 50px);
		bottom: 0;
	}
}


/*
@media (orientation: landscape) {  }
@media (orientation: portrait) { }
*/


/*body {
 background: rgb(255,252,248);
background: radial-gradient(circle, rgba(255,252,248,1) 0%, rgba(227,224,210,1) 51%); 
}
*/
/* fix */
body { overflow-x: hidden; }


