/* v.1.0.0 */

/* list */
.listBlock { padding: 0 5%; margin-bottom: 10px; }
.listItem {
padding: 5px 0;
border-bottom: 2px dotted var(--d3);
}

/* in progress */
.lMenu {
display: flex;
flex: 1 0 auto;
flex-wrap: wrap;
gap: 5px;
}

.lMenu .button {
flex: 1 0 auto;
width: 150px;
justify-content: start;

}

/*https://stackoverflow.com/questions/11142125/css-highlight-a-div-when-the-id-is-linked-to-using-an-anchor#*/

#about:target,
#links:target,
#otherLinks:target,
#hosting:target,
#contact:target,
#donate:target,
#counter:target,
#sites:target,
#other:target,
#license:target {

border-bottom: 4px solid var(--orange);
min-height: 100vh;
min-height: 100dvh;
display: flex;
flex-direction: column;
justify-content: center;
}

body{
background-image: url("/img/tpl/bg.svg");
background-repeat: repeat;
background-attachment: fixed;
}

