<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Template Title</title>

<meta name="description" content="
Website template description.
">
<meta name="keywords" content="
WebDesign, template,
">


<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- start style -->
<link rel="preload" href="/css/main.css" as="style">
<link rel="stylesheet" href="/css/main.css" type="text/css"><!-- from main site -->

<link rel="preload" href="./style.css" as="style">
<link rel="stylesheet" href="./style.css" type="text/css">

<!-- end style -->

</head>
<body>

<div class="content">

<img class="localBg reduceLight" src="flower.svg" alt="flower">
<img class="localBg2 reduceLight" src="flower.svg" alt="flower">

<div>
<h1>Lorem Ipsum</h1>
<p><em>short description</em></p>
</div>


</div>


<footer>
<nav>
<div class="margin2List padding2List">
<span class="small">2023-2024</span>
</div>
</nav>
</footer>

</body>
</html>
