<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<title>Template Title</title>

<meta name="description" content="
Website template description. Not intended for viewing. ignoreme.
">
<meta name="keywords" content="
WebDesign, template,ignoreme,
">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" sizes="512x512" href="/img/logo.png" type="image/png">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

<!-- style -->
<link rel="preload" href="../../css/main.css" as="style">
<link rel="stylesheet" href="../../css/main.css" type="text/css"><!-- from main site -->

<link rel="preload" href="../../css/auto.css" as="style">
<link rel="stylesheet" href="../../css/auto.css" type="text/css"><!-- from main site -->

<link rel="preload" href="style.css" as="style">
<link rel="stylesheet" href="style.css" type="text/css">
<!-- // style -->

</head>
<body>

<main class="contentCenter">
<h1>End, Start</h1>
</main>

</body>
</html>
