<!DOCTYPE html>
<html lang="en">
<head>

<title>none</title>

<meta name="description" content="
none
Not intended for viewing. ignoreme.
">
<meta name="keywords" content="
none,ignoreme,
">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" sizes="512x512" href="/img/logo.png" type="image/png">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

<!-- main -->
<link rel="preload" href="../../css/main.css" as="style">
<link rel="stylesheet" href="../../css/main.css" type="text/css">
<!-- // main -->

<link rel="preload" href="./style.css" as="style">
<link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>

<main class="contentCenter">
<h1>End, Start</h1>
</main>

</body>
</html>
