/* bento v.1.0.1 */
/* It happened by accident and I don't fully understand how it works */
.item {
display: inline-flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align: center;
/*text-wrap: balance;*/
word-break: break-word;
min-width: 95px;
max-width: 100%;
flex: 1 0 auto;
justify-content: center;
}

.flexBlock {
display: flex;
flex: 1 0 auto;
flex-wrap: wrap;
gap: 7px;
}
