/* v.1.1.0 */

#myPics, canvas, body, html, html::before {
padding: 0; margin: 0;
}

/* fix firefox chrome wrong position on mobile */
body, canvas, #myPics {
height: 100%; 
width: 100%;
position: fixed;
}

body { position: absolute; top: 0; left: 0; overflow: hidden; }

body {
/* Disable pull-to-refresh */
overscroll-behavior: contain;
}

#btn { position: absolute; top: 0; right: 0; }
 .button{ width: 55px; max-width: 100%; padding: 5px;  }
input[type="color"]{  cursor: pointer; height: 19px; min-height: 19px; margin: 0; }


#btn, .drawAds {
animation:1s fadeIn;
animation-fill-mode: forwards;
visibility: hidden;
animation-delay: 0.46s;
}

@keyframes fadeIn {
0% { opacity: 0; }
100% { visibility: visible;  opacity: 0.9; }
}



/** { box-shadow: inset 0 0 0 5px black, inset 0 0 0 10px white; }*/
