/* 1.1.0 */

body, html {
height: 100%;
margin: 0;
padding: 0;
font-family: Arial;
background: #F0F0F0;
color: #000;

/*background-image: 
url("https://unsplash.com/photos/7wBFsHWQDlk/download?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNzAzMjExMjk1fA&force=true&w=1920");
background-size: cover;
background: #2D2D2E;
color: #fff;
*/
}


p, h1 { padding: 15px; margin: 0; }
.lBlock { margin-bottom: 40px;}


:nth-child(2n+2 of .lBlock h1), :nth-child(2n+1 of .lBlock p) {
background-color: #fff;
color: #000;
a { color: #000; }
}

:nth-child(2n+1 of .lBlock h1), :nth-child(2n+2 of .lBlock p) {
background-color: #383838;
color: #fff;
a { color: #fff; }
}














