/* v.12.24.1 */

* {  color-scheme: light dark; } /* view-source:about:blank */ 

:root{
--bodyP: 5vw;
--wrapper: 490px;
--wrapper2: 700px;
--wrapper3: 900px;
--wrapper4: 100%;
--wrapperTv: 100%;
--wrapperL: 430px;
--wrapperM: 330px;
--wrapperS: 230px;
--wrapperXs: 130px;
--inputH: 43px;
--fontSize: 13.4px;
}

html, body, a, input, button, textarea, pre, code{
font-family: Roboto, Noto, Arial, Sans-Serif;
font-weight: 400;
/*font-size: 13.4px;*/ font-size: 14px;
text-decoration:none;
letter-spacing: 0.17px;
/*hyphens: auto;*/ 
}

@media (hover: none) {
html, body, a, input, button, textarea, pre, code{
font-size: 16px;
}
}

html, body { margin: 0 auto; padding: 0; }
body {
padding: 0 var(--bodyP);
display: flex;
flex-direction: column;
min-height: 100vh;
/*min-height:  -webkit-fill-available;*//*validator error*/
height: 100%;
flex-basis: 100%;
overflow-y: scroll;
overflow-wrap: break-word;
/*word-break: break-all;*/

}
html { height: -webkit-fill-available; } /* comment for validator */

.content { flex: 1 0 auto; }
.page { min-height: 100vh; }

header, footer {
flex-shrink: 0;
text-align: center;
margin-top: 53px;
width: 100%;
z-index: 1;
}
header{ margin: 0 auto; }
/*nav a::first-letter{ font-size: 1rem; font-weight: bold;}*/

nav, footer { text-align: center; padding: 14px 0; max-width: 100%; z-index: 5; }
nav a, nav button, footer span { display: inline-block; padding: 5px;  }

footer { padding: 15px 0; }
footer span::first-letter { text-transform: capitalize; }
nav button:hover { background: none;  }

nav a:first-child, footer span:first-child { padding-left: 0; }
footer span:last-child { padding-right: 0; }
nav form { display: inline-block; max-width: 120px; }
nav input[type=search] { padding: 5px; min-height: 10px; }

h1, .h1 { font-size: calc(100% + 60%); }
h2, .h2 { font-size: calc(100% + 40%); }
h3, h4, h5, h6, .h3, .h4, .h5, .h6 { font-size: calc(100% + 20%); }

.h1 { font-size: calc(100% + 60%); }
.h2 { font-size: calc(100% + 40%); }
.h3, .h4, .h5, .h6 { font-size: calc(100% + 20%); }

input[type=text], input[type=search], textarea, input[type=submit]{
width: 100%;
min-height:  var(--inputH);
margin: 0px;
margin-top: 2px;
/*box-shadow: 4px 4px var(--d2);*/
margin-bottom: 0;
padding: 5px;
}
select, input[type="color"], input[type="date"], input[type="time"]{ padding: 5px; min-height:15px; display: inline-block;  }
input[type=checkbox]{ cursor: pointer; margin: 0; padding: 5px; line-height: normal; }
textarea { outline-color:transparent; outline-style:none; resize: vertical; }
input[type=submit] { cursor:pointer;  }






td { padding: 5px; }

/* class */

.wrapper, .wrapper2, .wrapper3, .wrapper4, .wrapperL, .wrapperM, .wrapperS, .wrapperXs {  width: 100%; margin: 0 auto; }
.wrapper {  max-width: var(--wrapper);  }
.wrapper2 {  max-width: var(--wrapper2); }
.wrapper3 {  max-width: var(--wrapper3);  }
.wrapper4 {  max-width: var(--wrapper4);  }
.wrapperTv {  max-width: var(--wrapperTv);  }
.wrapperL {  max-width: var(--wrapperL);  }
.wrapperM {  max-width: var(--wrapperM);  }
.wrapperS {  max-width: var(--wrapperS);  }
.wrapperXs {  max-width: var(--wrapperXs);  }


.op { opacity: 0.75; } 
.op:hover { opacity: 1; }
.op2 { opacity: 0.25; }
.op2:hover { opacity: 1; }

.center, .center2, .center3, .center4 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: safe center;
align-self: safe center;
box-sizing: border-box;
/*margin: 0 var(--bodyP);*/ margin: 0 auto;
}

.center2 { min-height: 40vh; }
.center3 { min-height: 60vh; }
.center4 { min-height: 100vh; }

.post, .post2, .post3, .postTv, .tv, .postL {
padding: 11px;
padding-bottom: 10px;
border-radius: 5px;
width: 100%;
display: block;
margin: 0 auto;
overflow: auto;
}
.post { max-width: var(--wrapper); }
.post2 { max-width: var(--wrapper2); }
.post3 { max-width: var(--wrapper3); }
.tv, .postTv { max-width: var(--wrapperTv);; }
.postL { max-width: var(--wrapperL); }

/* pre for post */
iframe, .pre iframe, .pre video, .pre audio { display: block; margin-top: 15px; border-radius: 5px; width: 100%; }
.pre .img { margin-bottom: 5px; margin-top: 15px; }

.postFooter { margin-top: 7px; }
.postTaglist { display: inline-block; width: 70%; text-align: left; }
.postTime { display: inline-block; width: 30%; text-align: right; float: right; }
.postTagList a, .postTime a{ font-size: calc(100% - 5%); }

.logo, .logo2{
border-radius: 50%;
display: inline-block;
vertical-align: middle;
text-align: center;
width: 60px;
/*height: 60px;*/
padding: 2px;
transition: transform 1.8s ease-in-out;
border: 2px dashed var(--cOp);
}
.logo:hover, .logo2:hover{
transform: rotate(360deg); 
}
.logo2 { width: 26px; height: 26px; }
.headerBannerImg { width: 250px; display: block; margin: 0 auto; margin-bottom:  -30px; border-radius: 9px; } 
.ico {
border-radius: 50%;
display: inline-block;
vertical-align: middle;
width: 16px;
max-height: 16px;
filter:grayscale(56%);
font-size: xx-small;
}
.ico2 { /* emoji ico */
vertical-align: middle;
display: inline-block;
width: auto;
filter:grayscale(36%);
font-size: calc(100% - 20%);
}
.ico:hover, .ico2:hover { filter: grayscale(0%); }

.gray { filter:grayscale(56%); }

.tagList {
word-break: break-all;
display: inline-flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align: center;
}
.tagList a { margin: 1px; }
.tag, .tag2, .button {
display: inline-flex;
justify-content: center;
align-items: center;
text-align: center;
box-sizing: border-box;
}
.tag, .tag2 { font-size: calc(100% - 10%); padding: 2px 5px; min-width: 25px; }
.button { padding: 9px; max-width: 100%; }
.button, .tag, .tag2 { border-radius: 5px; }
.tag2 { padding: 3px 7px; }

.scrollX { display: inline-block; }

@media (hover: none) {
.scrollX {
overflow: hidden;
overflow-y: hidden;
overflow-x: auto;
white-space: nowrap;
scrollbar-width: none;
}

scrollX::-webkit-scrollbar { display: none; }
}

/* colors */
body{ background: var(--bg); color :var(--c3); }

a { color: var(--c2); }
a:hover{ color: var(--c4); } 

html{ position: relative; }
html::before {
width: calc(100vh);
height: calc(100vh);
content: "";
opacity: 0.25;
position: fixed;
bottom: 0;
right: 0;
background: url('/img/header-banner.png') no-repeat center center fixed;
background-size: 23vh;
background-position: right 23px bottom 23px;
z-index: -2;
}

hr{ border: 1px solid var(--d2); border-bottom:1px solid var(--l); }
/*a{ color: var(--blue); } a:hover { color: var(--blue2); }*/
/*::selection { background: #8A9A5B; color: #FFFFFF; }*/
::selection { background: darkorange; color: #FFF; }

input, textarea, input:focus, select, button, input[type="number"] { border: 1px solid var(--d3); background: var(--l2); color: var(--c3); border-radius: 3px; }
input:hover, textarea:hover, select:hover, button:hover {  background: var(--l3); }
input[type="submit"] { background: var(--d); color: var(--c2); }
input[type="submit"]:hover { background: var(--d2); color: var(--c3); }

input[type="file"] { background: var(--d); color: var(--c); }
input[type="range"], progress { width: 100%; max-width: 100%; margin: 0; }
input[type="number"]{ padding: 5px; }

/*input[type=range] {
-webkit-appearance: none;
background: var(--l3);
outline: none;
height: 6px;
}*/

::placeholder, input::-webkit-input-placeholder { color: var(--c); }


/*input[type="search"]::-webkit-search-cancel-button{
-webkit-appearance: none;
height: 10px;
width: 10px;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAABbmlDQ1BpY2MAACiRdZHPKwRhGMc/uwiLHDhI0hyWHGxtlBxZB5dNWpTFZXfM7KqdMc3MJrkqFwflIC5+HfwHXJUrpRQpyckf4NdFGs+7q3YT7/TO8+n7vt+n9/2+EE4WdMurjYNl+25qPKHNpue0+mciNNICdGd0zxmdnEzy7/i4JaTqTUz1+n/fn6Np0fB0CDUID+mO6wuPCCdXfEfxpnC7ns8sCh8I97tyQOFLpWfL/KQ4V+Y3xe50agzCqqeWq+JsFet51xLuE45ahaL+cx51k2bDnpmS2imzC48U4yTQyFJkiQI+Mam2ZPa3L17yTbAsHl3+Dqu44siRF2+/qEXpakg1RTfkK7Cqcv+dp2cODpS7Nyeg7jEIXnugfhu+toLg8zAIvo6g5gHO7Yp/WXIafhd9q6JF96F1HU4vKlp2B842oOPeybiZklQjM2ya8HICLWlou4bIfDmrn3WO72B6TZ7oCnb3oFf2ty58A5N3Z9gRfyj7AAAACXBIWXMAAC4jAAAuIwF4pT92AAAAvUlEQVQYV2NgIBIwgtRNmzatFkhdyMrK2gzTBxQTA7I7gbgZKH6PCSohAxIESoZDNYoC6Q1ArA7EYDUwEzmA7G4gDgTiViCOAOL/QJwDNO0KXCHUFB4gPRuI/YH4ORB7ABXdhjkFZjWIzwfEckD8DYh/AbEGTBGIBisEuk0SSG0F4p9AbAbER4EY7ma4QiBjARC/BOJ0kA9BbgPivUDcDTQEbDIL1PgiIP0ZqOgRlP8DSFcC8QEgfoDsBIJsAOsYNCiM5q29AAAAAElFTkSuQmCC");
cursor: pointer;
}*//*for validator*/
input, progress, select { accent-color: var(--b3);  } /* comment for validator*/

table, tr, td { border: 1px solid var(--d); background-color: var(--l); }
td { background-color: var(--l2); }



.shadow { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }

.brand, .brand a, .brand button{ color: var(--b3); } .b2, .b2 a { color: var(--b4); }
.brand:hover, .brand a:hover, .brand button:hover { color: var(--b4); }

.red { color: var(--red); } .red2 { color: var(--red2); }
.red:hover { color: var(--red2); }
.redBg { background: var(--red); }

.orange { color: var(--orange); } .orange2 { color: var(--orange2); }
.orange:hover { color: var(--orange2); }
.orangeBg { background: var(--orange); }

.yellow { color: var(--yellow); } .yellow2 { color: var(--yellow2);}
.yellow:hover { color: var(--yellow2); }
.yellowBg { background: var(--yellow); }

.green { color: var(--green); } .green2 { color: var(--green2); }
.green:hover { color: var(--green2); }
.greenBg { background: var(--green); }

.blue { color: var(--blue); } .blue2 { color: var(--blue2); }
.blue:hover { color: var(--blue2); }
.blueBg { background: var(--blue); }

.indigo { color: var(--indigo); } .indigo2 { color: var(--indigo2); }
.indigo:hover { color: var(--indigo2); }
.indigoBg { background: var(--indigo); }

.violet { color: var(--violet); } .violet2 { color: var(--violet2); }
.violet:hover { color: var(--violet2); }
.violeBg { background: var(--violet); }

.active { color: var(--c3); }
.active:hover { color: var(--c); }

.border, .borderList { border: 1px solid var(--d3); }
.border2, .border2List { border: 1px dashed var(--d4); }
.border3, .border3List { border: 1px solid var(--d2); }
.border4, .border4List {  border: 1px solid var(--d);  }

.borderList, .border2List { margin-bottom:  -2px; }
.border3List, .border4List { position: relative; z-index: 3; margin-top:  -1px; }
.border3List:first-child, .border4List:first-child { margin-top: 0; margin-bottom: 0; }
.border3List:hover{ z-index: 5;  border: 1px solid var(--d3);}
.border4List:hover { z-index: 5; border-bottom: 1px solid var(--d3); }



.bg, .bgList, .light { background: radial-gradient(var(--l2), var(--l)); }
.bgList:nth-child(2n), .light:hover { background: radial-gradient(var(--l3), var(--l2)); }
.bg2, .bg2List, .light2 { background: var(--l); }
.bg2List:nth-child(2n), .light2:hover, .light3{ background: var(--l2); }
.bg3, .bg3List, .light3 { background: var(--l2); }
.bg3List:nth-child(2n), .light3:hover, .light4{ background: var(--l3); }
.bg4, .bg4List, .light4 { background: var(--l3); }
.bg4List:nth-child(2n), .light4:hover, .light5, .bg5 { background: var(--l4); }

.highlight { background: var(--l4); border-bottom: 1px solid var(--d3); color: var(--c4); }
.highlight:hover { color: var(--c4); }

.highlight2 { border-bottom: 1px solid var(--orange); }
.highlight2:hover { color: var(--c4); }


/* other */
.padding { padding: 9px; }
.block { display: block; box-sizing: border-box; }
.zero { margin: 0; padding: 0; }
.margin, .margin a { margin: 1px; }
.tLeft { text-align: left; }
.tCenter { text-align: center; }
.tRight { text-align: right; }
.capitalize { text-transform: capitalize; }
.lowercase { text-transform: lowercase; }
.b, .b a { font-weight: bold; }
.bold, .bold a { font-weight: bold; }
.small, .small a { font-size: small; }
.xSmall, .xSmall a { font-size: x-small; }
.xxSmall, .xxSmall a { font-size: xx-small; }
.cursorNone { pointer-events: none; }
.scroll {
/*overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;*/
display: block;
max-height: 100vh;
overflow-x: hidden;
overflow-y: auto;
scroll-padding-top: 16px;
}
.break { overflow: hidden; word-wrap: break-word; overflow-wrap: break-word; }


/* ads */
.adsHeader { display: block; float: right; text-align: right; }
.adsHeader a { font-size: x-small; }
.adsBody { padding-bottom: 15px;  }





/* fix */
h1, h2, h3, h4, h5, h6 { word-break: break-all; }

@media(max-width: 200px) { div, input, textarea, a{ word-break: break-all; } }

div, input, textarea, img { box-sizing: border-box; }

.sup { vertical-align: super; vertical-align: top; font-weight: bold; }
.pre{ white-space: pre-wrap; word-wrap: break-word; line-height: normal; }

button { cursor: pointer; }
/*textarea:focus {outline: none;}*/
form { margin: 0 auto; padding: 0; width: 100%; box-sizing: border-box; }
/*br, hr { clear: both; }*/
form, iframe, video, audio, img, hr, table{ max-width:100%; }
img { height: auto; }


input, textarea { display: block; }

@media(max-width: 390px) {
.m, .m2 { width: 100%; max-width: 100%; }
.m2 { display: block; position: relative; }
}

@media(max-width: 500px) { .topNav nav { text-align: left; }}

.over, .over a{
overflow: hidden;
white-space: nowrap;
display: inline-flex; /* display: block; display: inline-block; */
max-width: 100%;
text-overflow: ellipsis;
}

iframe { border: none; }
img { overflow: hidden; font-size: calc(100% - 30%); }
/*html { scroll-padding-top: 14px; }*/
html { scroll-padding-top: 35px; }

html { scrollbar-width: thin; }
::-webkit-scrollbar { width: 7px; } /* for validator commnet */

input:focus{ outline: none }

