/* v.1.0.0 */
/* comment */


.lGallery a {
display: block;
}

.lGallery .lPhoto {
width: 100%;
max-width: calc(50% - 8px);
margin: 0 auto;
padding: 15px;
border: 1px solid var(--red);
display: inline-block;
height: 100%;
vertical-align: middle;
margin: 0;
}

.lGallery {
display: block;
width: 100%;
margin: 0 auto;
}

/* disable selection */
/*https://stackoverflow.com/questions/16805684/javascript-disable-text-select#*/
/*body{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}*/

/*https://css-tricks.com/almanac/properties/s/scroll-behavior/#*/
body {
overflow-y: scroll;
overflow-x: scroll;
scroll-behavior: smooth;
}


.lBodyAni {
transition: transform 250ms ease-in-out;
animation: lBodyAniAni 500ms 0s;
opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
@keyframes lBodyAniAni {
from { transform: rotate(0); }
to { transform: rotate(360deg); }
}







.lAds {
display: block;
content: "test";
position: sticky;
top: 0px;
font-size: 16px;
}

.ads {
z-index: 10;
}







