/* v.1.1.0 */


.lGallery a {
display: block;
}

.lGallery .lPhoto {
width: 100%;
max-width: calc(50% - 8px);
margin: 0 auto;
padding: 15px;
border: 1px solid var(--red);
display: inline-block;
height: 100%;
vertical-align: middle;
margin: 0;
vertical-align: top;
}

.lGallery {
display: block;
width: 100%;
margin: 0 auto;
}

/* disable selection */
/*https://stackoverflow.com/questions/16805684/javascript-disable-text-select#*/
body{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/*https://css-tricks.com/almanac/properties/s/scroll-behavior/#*/
body {
overflow-y: scroll;
overflow-x: scroll;
scroll-behavior: smooth;
}


.lBodyAni {
transition: transform 250ms ease-in-out;
animation: lBodyAniAni 500ms 0s;
opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
@keyframes lBodyAniAni {
from { transform: rotate(0); }
to { transform: rotate(360deg); }
}







.lAds {
display: block;
content: "test";
position: sticky;
top: 0px;
font-size: 16px;
}

.ads {
z-index: 10;
}


html {
overflow-x: scroll;
}

/* anti fix, reverse fix */
/*iframe, img, div, * {
max-width: 999px;
}*/


/* ads */
#manyAds1 {
border: 2px solid orange;
min-height: 200px
}



#manyAds10 {
min-width: 500px;
position: fixed;
bottom: 0;
right: 0;
}



header a {
color: var(--green);
border-bottom: 2px solid var(--c);
}

pre, ul {
border: 2px solid var(--violet);
padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
border: 2px solid var(--blue);
padding: 15px;
}



/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');
.playwrite-ar-ksdahfjkh, h1, h2, h3 {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.ubuntu-regular, body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-regular, a, a:link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* fix */
ul {
padding: 0;
}

li {
padding: 5px;
}

