
:root{
--bg: #5E5A27;
--l: #66633C;
--l2: #6B673F;
--l3: #736F43;
--l4: #807B49;
--d: #575323;
--d2: #4F4B1D;
--d3: #403D1D;
--d4: #1F1C00;

--c: #D4D4D4;
--cOp: color-mix(in srgb, #E0E0E0 50%, transparent);
--c2: #EDEDED; 
--c3: #F5F5F5; 
--c4: #FFFFFF; 
--brand: #C8E0ED;
--brand2: #E6F6FF;
--red: #FFB399;
--red2: #FFC6B3;
--orange: #FFDB99;
--orange2: #FFE3B3;
--yellow: #E6DAA1;
--yellow2: #F2E8B6;
--green: #9BD982;
--green2: #A4E689;
--blue: #8AC9E6;
--blue2: #99DFFF;
--indigo: #A9B0F2;
--indigo2: #CCD0FF;
--violet: #E2ACE6;
--violet2: #F1CDF2;
}

.darkInvert { filter: invert(70%); }
.darkBrightness { filter: brightness(70%); }

html{ scrollbar-color: var(--l4) var(--d2); }
::-webkit-scrollbar { background-color: var(--d2); }
::-webkit-scrollbar-thumb { background-color: var(--l3); }
