/* bento v.1.1.0 */


.item {
display: inline-flex;
justify-content: center;
align-items: center;
text-align: center;
padding: .20em .5em;
min-width: 30%;
max-width: 100%;
flex: 1 0 auto;
justify-content: center;
margin: .5px;
}

.flexBlock {
display: flex;
flex: 1 0 auto;
flex-wrap: wrap;
gap: 0;
}
