
:root{
--bg: #3E275E;
--l: #4F3C66;
--l2: #533F6B;
--l3: #584373;
--l4: #6D518F;
--d: #392357;
--d2: #321D4F;
--d3: #2A1D40;
--d4: #0C001F;

--c: #D4D4D4;
--c2: #EDEDED; 
--c3: #F5F5F5; 
--c4: #FFFFFF; 
--red: #FFB399;
--red2: #FFC6B3;
--orange: #FFD68C;
--orange2: #FFDFA6;
--yellow: #E6DAA1;
--yellow2: #F2E8B6;
--green: #9BD982;
--green2: #A4E689;
--blue: #91DDFF;
--blue2: #CAEEFF;
--indigo: #A9B0F2;
--indigo2: #CCD0FF;
--violet: #E2ACE6;
--violet2: #F1CDF2;
}

.darkInvert { filter: invert(70%); }
.darkBrightness { filter: brightness(70%); }

html{ scrollbar-color: var(--l4) var(--d2); }
::-webkit-scrollbar { background-color: var(--d2); }
::-webkit-scrollbar-thumb { background-color: var(--l3); }
