<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Template Title</title>

<meta name="description" content="
Website template description.
">
<meta name="keywords" content="
WebDesign, template,
">


<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- start style -->
<link rel="preload" href="/css/main.css" as="style">
<link rel="stylesheet" href="/css/main.css" type="text/css"><!-- from main site -->

<link rel="preload" href="style.css" as="style">
<link rel="stylesheet" href="style.css" type="text/css">
<!-- end style -->

</head>
<body>


<div class="content">

<div class="block tCenter">
<h1>Lorem Ipsum</h1>
<small class="em">short home page</small>
</div>

</div>


<footer>
<nav>
<div class="margin2List padding2List">
<span class="xSmall">2023-2024</span>
</div>
</nav>
</footer>



</body>
</html>
